<div class="container">
  <!-- search bar -->
  <div class="searchbar">
    <form class="example-form" #f="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input
          type="text"
          matInput
          placeholder="Youtube Search"
          name="search"
          [(ngModel)]="search"
          autocomplete="off"
        />
        <button matSuffix mat-button type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <strong style="color: rgb(219, 34, 34)">{{ error ? error : "" }}</strong>
    </form>
  </div>

  <!-- videos list -->
  <div style="display: flex; justify-content: center">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
  <app-videos *ngIf="!isLoading"></app-videos>
  <mat-paginator
    #p
    *ngIf="videoData.pageInfo.totalResults"
    [length]="videoData.pageInfo.totalResults"
    [pageSize]="videoData.pageInfo.resultsPerPage"
    (page)="pageChange($event)"
    style="margin-top: 10px"
  >
  </mat-paginator>
</div>
